Item                                                 Person/Status
----                                                 -------------
Make changes to the current                     Cynthia to make changes
classes under the "prodigy"                     when current problems with
username.                                       Netval are corrected,will
                                                notify Sal when complete.


Define hosts to the usernames                   Sal will continue to request
"prodopps" and "proddev".                       validations to add hosts to
                                                these u/n. Prodigy support
                                                team will present the option
                                                of "tymvalidate" to PRODIGY
                                                to be used when we run out of
                                                entry positions(54).


Modify class 80.                                Prodigy support team to 
                                                determine the list of nodes
                                                to be included in the "not"
                                                category.
